@import "tailwindcss";

@import "@fortawesome/fontawesome-free/css/all.min.css";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@tailwind utilities;

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
:root {
    --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-signika {
    font-family: "Signika", sans-serif;
}
.font-montserrat {
    font-family: "Montserrat", sans-serif;
}
.clip-bottom-slant {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), 0 calc(100% - 0px));
}

.clip-top-slant {
    clip-path: polygon(0 50px, 100% 10px, 100% 100%, 0 100%);
}

.prose h1 {
    @apply text-3xl md:text-3xl my-3;
}
.prose h2 {
    @apply text-2xl md:text-2xl my-3;
}
.prose h3 {
    @apply text-xl md:text-xl my-3;
}
.prose img {
    @apply w-full h-auto shadow;
}
.prose figure {
    @apply my-6;
}
.prose figcaption.attachment__caption {
    @apply hidden;
}
.detail-maintenance *,
.frame-line-treatment * {
    @apply text-[#000];
    font-family: "Montserrat", sans-serif;
}
.detail-maintenance ol,
.timeframe-treatments ol {
    @apply list-decimal list-inside;
}
.timeframe-treatments ul {
    @apply list-['•'] list-inside;
}
.detail-maintenance ul {
    @apply list-disc list-inside ml-3;
}
.detail-maintenance h2 {
    @apply text-2xl font-[400] mb-3 mt-5;
    font-family: "Montserrat", sans-serif;
}
.frame-line-treatment ul,
.frame-line-treatment ol {
    @apply text-sm md:text-base text-[#000000] list-disc list-inside md:[column-width:18rem] md:[column-gap:2rem] [&>li]:break-inside-avoid [&>li]:mb-1;
}
.timeframe-treatments .stage-title h2 {
    @apply text-2xl;
}
