@import "tailwindcss";

@import "@fortawesome/fontawesome-free/css/all.min.css";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@tailwind utilities;

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
:root {
    --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-signika {
    font-family: "Signika", sans-serif;
}
.font-montserrat {
    font-family: "Montserrat", sans-serif;
}
.clip-bottom-slant {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), 0 calc(100% - 0px));
}

.clip-top-slant {
    clip-path: polygon(0 50px, 100% 10px, 100% 100%, 0 100%);
}
